/*Definição titulo navbar*/
#titulo{
	color: white;
}

#titulo:hover{
	color: #337ab7;
}


/*Definição rodape*/
#rodape {
    width: 100%;
}
#rodape ul li{
   padding-left: 5%;
   padding-right: 5%;
}

/*Definição de quebra de linha*/
.quebra{
	word-wrap: break-word;
}

/*Definição classe tamanho*/
.tamanho{
	max-height: 50%;
	max-width: 50%;
	height: auto;
	width: auto;
}


/*Definição dos links do rodapé.*/
#rodape a:link{}
#rodape a:visited{color: white;}
#rodape a:hover{color: greenyellow;}
#rodape a:active{}


@media (max-width:320px) { 
    /* smartphones, iPhone, portrait 480x320 phones */
    #nomobile{
        display:none;
    }
}
@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    #nomobile{
        display:none;
    }
}
@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    #nomobile{
        display:none;
    }
}




